* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    column-count: 2;
    column-gap: 5px;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
    break-inside: avoid;
    border: 2px solid #4D2A00;
    border-radius: 30px;
}

@media screen and (min-width: 1000px) {
    main {
        column-count: 4;
    }

    img {
        border-color: #0D1C42;
    }
}

@media screen and (min-width: 1400px) {
    main {
        column-count: 6;
    }
}